<div class="subscribe bg-primary">  
    <div class="container-md container-fluid text-success font-weight-bolder py-10">
        <h4 class="subscribe-title mb-4">有任何我們能幫助您的嗎？</h4>
        <form>
            <label class="subscribe-label lh-1 mb-5" for="CustomUsermail">輸入電子信箱<br> 將有專業人員在線幫您解決所有問題</label>
            <div class="form-row">
                <input type="text" class="form-right-0 form-l form-control col col-lg-4 pl-4" id="CustomUsermail" placeholder="example@gmail.com" required>
                <button class="btn-left-0 btn btn-warning col-5 col-lg-2" type="submit">送出</button>
            </div>
        </form>
    </div>
</div>
<footer class="subscribe bg-white">  
    <div class="container-md container-fluid pt-md-13 pb-8">
        <div class="row mb-md-16">
            <ul class="col-3">
                <li><h4><a class="footer-logo navbar-logo mb-md-5" href="./index.html">PETPET</a></h4></li>
                <li><a class="footer-link mb-7 d-none d-md-block" href="#">關於我們</a></li>
                <li><a class="footer-link mb-7 d-none d-md-block" href="#">幫助中心</a></li>
                <li><a class="footer-link mb-7 d-none d-md-block" href="#">使用條款</a></li>
                <li><a class="footer-link d-none d-md-block" href="#">隱私政策</a></li>
            </ul>
            <ul class="col-3 d-none d-md-block">
                <li><h4 class="h5 text-success font-weight-bolder py-6 mb-5">寵物服務</h4></li>
                <li><a class="footer-link mb-7" href="#">寵物寄宿</a></li>
                <li><a class="footer-link mb-7" href="#">寵物到府保姆</a></li>
                <li><a class="footer-link mb-7" href="#">寵物美容洗澡</a></li>
                <li><a class="footer-link" href="#">寵物行為訓練</a></li>
            </ul>
            <ul class="col-3 d-none d-md-block">
                <li><h4 class="h5 text-success font-weight-bolder py-6 mb-5">加入我們</h4></li>
                <li><a class="footer-link mb-7" href="#">成為寵物保姆</a></li>
                <li><a class="footer-link mb-7" href="#">加入寵物計程車</a></li>
                <li><a class="footer-link mb-7" href="#">專屬 APP 下載</a></li>
                <li><a class="footer-link" href="#">相關合約條款</a></li>
            </ul>
            <ul class="col-3 d-none d-md-block">
                <li><h4 class="h5 text-success font-weight-bolder py-6 mb-5">聯繫我們</h4></li>
                <li><a class="footer-link mb-7" href="mailto:petpet@petmail.com">petpet@petmail.com</a></li>
            </ul>
        </div>
        <div class="footer-tel d-flex justify-content-between">
            <a href="tel:+886-7-1234567" class="d-none d-md-block">
                <span class="material-icons h5 text-success mr-4">local_phone</span>
                <span class="h5 text-success">07-123-4567</span>
            </a>
            <h6 class="h7 text-success">Copyright © 2020 PetPet. All rights reserved.</h6>
        </div>
    </div>
</footer>

