.btn {
    font-size: 20px;
    padding: 8.2px 0;
}
.btn-text {
    font-size: 16px;
    padding: 12px 0;
}


// detail
.short-btn, .long-btn {
    width: 50%;
}
@include desktop {
    .short-btn {
        width: 25%;
    }
    .long-btn {
        width: 40%;
    }
}
