.carousel img{
    object-fit:cover;
}
.carousel__item--active img {
    width: 345px;
    height: 282px;
}
.carousel__item{
    height: 82px;
    width: 82px;
}
@include pad {
    .carousel__item--active img {
        width: 270px;
        height: 221px;
    }
    .carousel__item{
        height: 63px;
        width: 63px;
    }
}
@include desktop {
    .carousel__item--active img {
        width: 550px;
        height: 440px;
    }
    .carousel__item{
        height: 96px;
        width: 96px;
    }
}
