/*--- index menu 線上預約 ---*/
.menu__pic {
    &--1 {
        @include banner('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-5.jpeg', 132px);
    }
    &--2 {
        @include banner('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-6.jpeg', 132px);
        background-position: center -50px;
    }
    &--3 {
        @include banner('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-7.jpeg', 132px);
        &:hover {
            cursor: pointer;
            & .menu__text {
                background: transparent;
            }
        }                  
    }
    &--4 {
        @include banner('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-8.jpeg', 132px); 
        background-position: center -10px;
        &:hover {
            cursor: pointer;
            & .menu__text {
                background: transparent;
            }
        } 
    }
    &--5 {
        @include banner('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-3.jpeg', 132px);
        background-position: center -150px;
    }
}

.menu__text {
    @include align-center;
    background: rgba(0, 0, 0, 0.5);
}
.menu__link {
    width: 100%;
    &:hover {
        cursor: pointer;
        & .menu__text {
            background: transparent;
        }
    }
}

@include mobile {
    .menu__pic {
        &--1, &--2, &--5 {
            height: 350px;
        }
        &--2 {
            background-position: -200px center;
        }
        &--4, &--5 {
            background-position: center center;
        }
        &--3, &--4 {
            height: 172px;
        }
    }
    .menu__link {
        &:nth-child(1) {
            width: 28%;
        }
        &:nth-child(2) {
            width: 25%;
        }
        &:nth-child(4) {
            width: 21%;
        }
        &--m {
            width: 25%;
        }
    }
}

