.navbar {
    &-logo {
        @include banner('https://hexschool.github.io/webLayoutTraining1st/petpet-week8/logo.svg', 64px);
        @include hide-text;
    }
}
.nav-item {
    border-bottom: 1px solid $lgray;
    &:nth-child(1) {
        border-top: 1px solid $lgray;
    }
}
.nav-link:hover {
    background: #fcefd3;
}
.nav-item a.text-success:hover, .nav-item a.text-success:focus {
    color: $warning !important;
}

@include pad {
    .nav-link {
        &.h5 {
            font-size: 16px;
        }
        &:hover {
            background: transparent;
        }
    }
    .navbar {
        padding: 0.5rem 1rem;
    }
    .nav-item {
        border-bottom: 0px solid $lgray;
        &:nth-child(1) {
            border-top: 0px solid $lgray;
        }
    }
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color; 
}
.navbar {
    &-icon {
        right: 38px;
        top: 13px;
    }
    &-toggler {
        border: 0px solid transparent;
    }
}
.toggler-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: $primary;
    border-radius: 10px;
    transition: .2s;
}
.toggler-bar-top {
    top: 5px;
}
.toggler-bar-middle {
    top: 16px;
}
.toggler-bar-bottom {
    top: 27px;
}
.toggler-bar-top-rotate {
    top: 15px;
    transform: rotate(45deg);
}
.toggler-bar-bottom-rotate {
    top: 15px;
    transform: rotate(-45deg);
}

/*------------- member.html ----------------*/
.dropdown-toggle.rotatearrow::after {
    transform: rotate(180deg);
    transition: all 0.5s;
}