// 箭頭處理
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: none; 
  font-size: none;
  content: '';
}
.swiper-button-next, .swiper-button-prev {
  font-size: 50px;
  right: 15px;
  top: 60%;
  color: $success;
  &:focus {
    color: $warning;
  }
}
.swiper-button-prev {
  transform: rotate(180deg);
}
:focus {
  outline-width: 0px;
}

//----------------------//
.swiper-slide .card-body {
  padding-bottom: 28px;
}
.swiper-slide .card:nth-child(1), .swiper-slide .card:nth-child(2){
  margin-bottom: 12px;
}
@include pad {
  .swiper-slide .card:nth-child(1), .swiper-slide .card:nth-child(2){
    margin-right: 30px;  
  }
  .swiper-slide .card:nth-child(3){
    margin-top: -12px;
  }
}

//------------------------//



html,
  body {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }