.detail-title {
    font-size: 20px;
}
.detail-room {
    margin-left: -5px;
    margin-top: -5px;
}
@media(min-width: 1200px) {
    .detail-title {
        font-size: 24px;
    }
}

/*--------------------------*/

.detail-fixed {
    width: 100%;
    position: static;
}
.detail-carousel {
    width: 100%;
    margin-bottom: 40px;
}
@include pad {
    .detail-carousel {
        margin-bottom: 164px;
        width: 50%;
    }
    .detail-fixed {
        width: 50%;
    }
}
@include desktop {
    .detail-fixed {
        width: 38%;
    }
    .detail-fixed {
        position: fixed;
        top: auto;
        z-index: 1;
    }
}
/*--------------------------*/

.detail-about-text {
    font-size: 16px;
}
@include desktop {
    .detail-about-text {
        font-size: 20px;
    }
}


/*-------------------------*/
.member {
    height: calc(100vh - 64px);
}
.member-text {
    font-size: 24px;
}
@include desktop {
    .member-text {
        font-size: 32px;
    }
}

/*-------------- media 飼主評論 --------------*/
// detail 飼主評論 media-img
.media-img-left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 16px;
}
// detail 飼主評論 media width
.detail-media {
    width: 98%;
}
@include mobile {
    .detail-media {
        width: 48.5%;
    }
}
@include desktop {
    .detail-media {
        width: 48%;
    }
}