@include pad {
    .subscribe-title {
        font-size: 40px;
    }
    .subscribe-label {
        font-size: 20px;
    }
}
.footer-link {
    color: $success;
}
.footer-logo.navbar-logo {
    width: 145.7px;
}

footer, .subscribe {
    position: relative;
    z-index: 10;
}